@charset "utf-8";
/* CSS Document */
html, body{
	width: 100%;
	height: 100%;
	position: relative;
	font-size: 16px;
	line-height: 30px;
	font-family: 'Fira Sans', 'Noto Sans SC', '微軟正黑體', sans-serif;
}


a{	color: inherit;}
a:focus,a:hover{ text-decoration: none;}









/* wrap&footer==================================================== */
.wrap{
	width: 100%;
	display: block;
	min-height: 100%;
	position: relative;
	padding: 0 0 40px 0;
	margin: 0 0 -40px 0;
	/* outline: 1px solid #f00; */
}
.footer{
	width: 100%;
	display: block;
	position: relative;
	padding: 10px;
	background-color: #01416d;
	color: #ffffff;
	font-size: 0.95rem;
	line-height: 1.25rem;
	text-align: center;
	font-weight: normal;
}
.footer a{
	float: right;
	transition: .3s .03s;
}
.footer a:focus,
.footer a:hover{
	color: #e97512;
}
@media screen and (max-width:768px){
	.wrap{
		padding: 0 0 60px 0;
		margin: 0 0 -60px 0;
	}
}
@media screen and (max-width:420px){
	.footer a{
		float: none;
	}
}










/* header========================================================== */
.header{
	width: 100%;
	display: block;
	position: relative;
}
.header .navbar{
	background-color: #ffffff;
	padding: 0;
	/* border-bottom: 1px solid #dddddd; */
}
.header .navbar .navbar-brand>img{
	height: 50px;
}
.header .navbar .navbar-toggler{
	border-color: #01416d;
	color: #01416d;
	margin-right: 1rem;
	padding: .5rem .75rem;
	transition: .3s .03s;
}
.header .navbar .navbar-toggler:hover{
	border-color: #e97512;
	color: #e97512;
}
.header .navbar .navbar-toggler:focus{
	outline: 0;
}
.header .navbar .navbar-toggler[aria-expanded="true"]{
	border-color: #01416d;
	background-color: #01416d;
	color: #ffffff;
}
.header .navbar .nav-link.dropdown-toggle:after{
	display: none;
}
.header .navbar .nav-link{
	font-size: 1.1rem;
	font-weight: bold;
	color: #01416d;
	padding: 8px 10px;
}
.header .navbar .nav-item.dropdown:focus .nav-link,
.header .navbar .nav-item.dropdown:hover .nav-link,
.header .navbar .nav-link:focus,
.header .navbar .nav-link:hover{
	color: #e97512;
	cursor: pointer;
}
.header .navbar .nav-item.dropdown.active .nav-link{
	background-color: #01416d;
	color: #ffffff;
}
.header .navbar .dropdown-item{
	color: #000000;
	transition: .3s .03s;
}
.header .navbar .navbar-nav .nav-item.dropdown .dropdown-menu{
	background-color: #ffffff;
	border: 0;
}
.header .navbar .dropdown-item:hover{
	background-color: #ffffff;
	color: #e97512;
}
@media (min-width: 992px) {
	.header .navbar .navbar-nav .nav-item.dropdown .dropdown-menu{
		min-width: 100%;
		border-radius: 0 0 .25rem .25rem;
		margin-top: 0px;
	}
	.header .navbar .navbar-nav .nav-item.dropdown:hover .dropdown-menu{
		display: block;
	}
	.header .navbar .dropdown-item{
		padding: 4px 15px;
	}
	.header .navbar .nav-link{
		padding: 15px 20px;
	}
	.header .navbar .dropdown-item{
		padding: 4px 20px;
	}
	.header.en .navbar .nav-link{
		padding: 15px 10px;
	}
	.header.en .navbar .dropdown-item{
		padding: 4px 10px;
	}

}














/* banner&slogan====================================================== */
.banner{
	width: 100%;
	display: block;
	position: relative;
}
.banner img{
	width: 100%;
}
.slogan{
	width: 100%;
	display: block;
	position: relative;
	padding: 20px 10px;
	background-size: cover;
	background-position: center center;
}












/* 共用============================================================= */
.title-black{
	font-size: 2rem;
	font-weight: normal;
	color: #000000;
}
.side-btn{
	width: 50px;
	display: block;
	position: fixed;
	bottom: 60px;
	right: -100px;
	transition: .3s;
	z-index: 50;
}
.side-btn.show{
	right: 0;
}
.side-btn .btn-contact{
	width: 100%;
	display: block;
	position: relative;
	border: 2px solid #01416d;
	background-color: #ffffff;
	color: #01416d;
	padding: 10px;
	text-align: center;
	font-size: 20px;
	line-height: 30px;
	margin-bottom: 10px;
	transition: .3s .03s;
	overflow: hidden;
}
.side-btn .btn-contact:hover{
	background-color: #01416d;
	color: #ffffff;
}
.side-btn .btn-goTop{
	width: 100%;
	display: block;
	position: relative;
	border: 2px solid #01416d;
	background-color: #01416d;
	color: #ffffff;
	text-align: center;
	padding: 5px;
	font-size: 36px;
	transition: .3s .03s;
}
.side-btn .btn-goTop:hover{
	border: 2px solid #e97512;
	background-color: #e97512;
}
.side-btn .btn-contact span.en{
	height: 85px;
	line-height: 85px;
	display: block;
	transform: rotateZ(-90deg) translate(-28px, 0);
}
@media screen and (max-width:768px){
	.side-btn{
		width: 30px;
	}
	.side-btn .btn-contact{
		padding: 5px;
		font-size: 16px;
		line-height: 20px;
	}
	.side-btn .btn-goTop{
		padding: 0px;
		font-size: 30px;
	}
	.side-btn .btn-contact span.en{
		height: 70px;
		line-height: 70px;
		display: block;
		transform: rotateZ(-90deg) translate(-25px, 0);
	}
}
.path{
	width: 100%;
	display: block;
	position: relative;
}
.path .breadcrumb{
	background-color: transparent;
	padding: .75rem 0rem;
	color: #aaaaaa;
}
.side-menu{
	width: 100%;
	display: block;
	position: relative;
	margin-bottom: 30px;
}
.side-menu .card{
	border-radius: 0;
	border: 0;
}
.side-menu .card .card-header{
	background-color: #01416d;
	color: #ffffff;
	border-radius: 0;
	font-weight: bold;
	font-size: 1.4rem;
	padding: .5rem .75rem;
	position: relative;
}
.side-menu .card .card-header a{
	border: 0;
	background-color: transparent;
	position: absolute;
	right: 10px;
	color: #ffffff;
	transition: .3s;
}
.side-menu .card .card-header a[aria-expanded="true"]{
	transform: rotateZ(90deg);
}
@media (min-width: 768px) {
	.side-menu .card .card-header a{
		display: none;
	}
}
.side-menu .list-group-item.active,
.side-menu .list-group-item{
	padding: 0;
	border-color: #dddddd;
	background-color: transparent;
}
.side-menu .list-group-item>a{
	width: 100%;
	display: block;
	padding: .5rem .75rem .5rem 1.75rem;
	background-color: #fafafa;
	color: #000000;
	transition: .3s .03s;
}
.side-menu .list-group-item>a i.fas{
	position: absolute;
	left: .7rem;
	font-size: 1.45rem;
	transform: translate(0, 3px);
	margin-right: 5px;
}
.side-menu .list-group-item>a:hover{
	color: #e97512;
}
.side-menu .list-group-item.active>a{
	color: #01416d;
}

content .content{
	width: 100%;
	display: block;
	position: relative;
	/* outline: 1px solid #f00; */
}
@media (min-width: 992px) {
	content .content{
		padding-left: 30px;
	}
}
.title-blue{
	width: 100%;
	display: block;
	position: relative;
	font-size: 2rem;
	font-weight: bold;
	color: #01416d;
	padding-bottom: 10px;
	border-bottom: 2px solid #01416d;
	margin-bottom: 30px;
}
.title-s{
	width: 100%;
	display: block;
	position: relative;
	margin: 30px 0 20px;
	font-size: 1.3rem;
	font-weight: normal;
	padding-bottom: 10px;
	border-bottom: 1px solid #dddddd;
	color: #000000;
}
.pagination{
	margin-bottom: 30px;
}
.pagination>li>a{
	color: #666666;
	transition: .3s .03s;
}
.pagination>li>a:focus,
.pagination>li>a:hover{
	color: #e97512;
	border:1px solid #e97512;
	background-color: transparent;
	z-index: 3;
	box-shadow: 0;
	outline: 0;
}
.page-item.active .page-link{
	background-color: #01416d;
	border-color: #01416d;
}
.fa-map-marker-alt{
	font-size: 1.3rem;
	transform: scale(0.85) translate(-1px, 0);
}
.table-blue, .table-blue>td, .table-blue>th{
	background-color: #01416d;
	color: #ffffff;
}









/* index============================================================ */
.index-solution{
	width: 100%;
	display: block;
	position: relative;
	padding: 2rem 1rem;
	background-size: cover;
	background-position: center center;
}
.solution-index-item{
	width: 100%;
	display: block;
	position: relative;
	margin-bottom: 10px;
	background-color: rgba(0, 0, 0, .8);
	color: #ffffff;
	padding: 5px;
	transition: .3s .03s;
}
.solution-index-item:focus,
.solution-index-item:hover{
	color: #ffffff;
	background-color: #e97512;
}
.solution-more{
	width: 100%;
	display: block;
	position: relative;
	color: #000000;
	transform: scale(1);
	transition: .3s .03s;
}
.solution-more:focus,
.solution-more:hover{
	color: #e97512;
	transform: scale(1.1);
}
.index-company{
	width: 100%;
	display: block;
	position: relative;
	margin: 40px 0;
	padding: 30px 20px;
}
.index-company:before{
	content: '';
	width: 100%;
	height: 30%;
	display: block;
	position: absolute;
	top: 0px;
	left: 0;
	border-top: 3px solid #e97512;
	border-right: 3px solid #e97512;
}
.index-company:after{
	content: '';
	width: 100%;
	height: 30%;
	display: block;
	position: absolute;
	bottom: 0px;
	left: 0;
	border-bottom: 3px solid #01416d;
	border-left: 3px solid #01416d;
}
.index-company-img{
	background-color: #aaaaaa;
	width: 100%;
	display: block;
	height: 100%;
	background-size: cover;
	background-position: left center;
	background-repeat: no-repeat;
}
@media screen and (max-width:991px){
	.index-company-img{
		height: 200px;
	}
}


















/* product======================================================= */
.product-list{
	width: 100%;
	display: block;
	position: relative;
}
.product-list .product-item{
	width: 100%;
	display: block;
	margin-bottom: 40px;
	text-align: center;
	transition: .3s .03s;
	font-size: 14px;
}
.product-list .product-item>.img{
	width: 100%;
	height: 200px;
	display: block;
	padding: 20px 30px;
	background-color: #f4f4f4;
	overflow: hidden;
	margin-bottom: 10px;
	position: relative;
}
.product-list .product-item>.img>img{
	max-height: 100%;
	max-width: 100%;
	display: block;
	position: relative;
	left: 0;
	right: 0;
	top: 50%;
	margin: 0 auto;
	transform: scale(0.95) translateY(-50%);
	transition: .3s .03s;
}
.product-list .product-item:focus,
.product-list .product-item:hover{
	color: #e97512;
}
.product-list .product-item:focus>.img>img,
.product-list .product-item:hover>.img>img{
	transform: scale(1.15) translateY(-40%);
}
@media screen and (max-width:768px){
	.product-list .product-item>.img{
		height: 160px;
	}
}
.product-type-list{
	width: 100%;
	display: block;
	position: relative;
	margin-bottom: 30px;
}
.product-type-list .product-type-item{
	width: 100%;
	display: block;
	position: relative;
	border: 2px solid #eeeeee;
	background-color: #f5f5f5;
	color: #000000;
	padding: 5px 25px 5px 10px;
	margin-bottom: 10px;
	transition: .3s .03s;
	font-size: 14px;
}
.product-type-list .product-type-item>i{
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 1.2rem;
}
.product-type-list .product-type-item:hover{
	color: #e97512;
	border-color: #e97512;
	background-color: #ffffff;
}
.product-type-list .product-type-item.active{
	background-color: #ffffff;
	border: 2px solid #01416d;
	color: #01416d;
}
.product-type-list .product-type-item.active>i{
	transform: rotateZ(90deg);
}
@media screen and (max-width:768px){
	.product-type-list .product-type-item{
		font-size: 0.9rem;
		line-height: 1.4rem;
		margin-bottom: 5px;
	}
	.product-type-list .product-type-item>i{
		top: 6px;
	}
}
.product-title{
	width: 100%;
	display: block;
	position: relative;
	padding-bottom: 30px;
	margin-bottom: 10px;
}
.product-title h3{
	display: block;
	font-size: 2rem;
	line-height: 2.4rem;
	font-weight: bold;
	padding-bottom: 10px;
	color: #01416d;
	border-bottom: 1px solid #e97512;
	margin-bottom: 5px;
}
.product-title h3 small{
	display: block;
	font-weight: normal;
	font-size: 1.1rem;
	line-height: 1.5rem;
	margin-top: 5px;
}
.product-title a{
	display: inline-block;
	color: #01416d;
	float: right;
	transition: .3s .03s;
}
.product-title a:focus,
.product-title a:hover{
	color: #e97512;
	padding-right: 10px;
}
.product-img{
	width: 100%;
	display: block;
	position: relative;
	padding: 30px;
	margin-bottom: 30px;
	text-align: center;
}
.product-img>img{
	max-width: 100%;
	max-height: 300px;
}
@media screen and (max-width:768px){
	.product-img>img{
		max-height: 200px;
	}
}
.product-info{
	width: 100%;
	display: block;
	position: relative;
	margin-bottom: 40px;
}
.product-info .nav-tabs{
	border: 0;
	margin-bottom: 20px;
}
.product-info .nav-tabs .nav-link{
	border: 0;
	border-radius: 0;
	background-color: #666666;
	color: #ffffff;
	font-weight: normal;
	transition: .3s .03s;
}
.product-info .nav-tabs .nav-link:hover{
	background-color: #e97512;
}
.product-info .nav-tabs .nav-link.active{
	background-color: #01416d;
	cursor: default;
}
@media screen and (max-width:768px){
	.product-info .nav-tabs .nav-link{
		width: calc(100% + 20px);
		transform: translate(-10px, 0);
	}
}
.product-download{
	width: 100%;
	display: block;
	position: relative;
	padding: 0;
	margin: 0 0 30px;
	list-style: none;
}
.product-download>li{
}
.product-download>li>a{
	width: 100%;
	display: block;
	position: relative;
	padding: 5px 0 5px 25px;
	transition: .3s .03s;
	color: #000000;
}
.product-download>li>a:hover{
	color: #e97512;
}
.product-download>li>a:focus{
	color: #01416d;
}
.product-download>li>a>i.fa{
	position: absolute;
	font-size: 20px;
	left: 0;
	top: 10px;
}



/* solution======================================================== */
.solution-block .solution-img{
	width: 100%;
	display: block;
	position: relative;
	padding-bottom: 75%;
	border: 1px solid #dddddd;
	font-size: 0;
	line-height: 0;
	background-size: cover;
	background-position: center center;
	margin-bottom: 15px;
	transition: .3s .03s;
}
.solution-block .solution-img:hover{
	border: 1px solid #01416d;
}














/* company======================================================= */
.profile-table{
	border: 2px solid #666666;
}
.profile-table>tbody>tr>td{
	border: 1px solid #666666;
	vertical-align: middle;
}
.profile-table>tbody>tr>td:first-child{
	width: 25%;
	background-color: #01416d;
	color: #ffffff;
}
.history-list ul{
	width: 100%;
	display: block;
	position: relative;
	padding: 0;
	margin: 0 0 30px;
	list-style: none;
}
.history-list>ul>li{
	width: 100%;
	display: block;
	position: relative;
	padding: 5px 0 5px 110px;
	line-height: 30px;
	margin-bottom: 15px;
}
.history-list>ul>li>.year{
	width: 80px;
	/* height: 40px; */
	display: block;
	position: absolute;
	font-size: 16px;
	line-height: 40px;
	background-color: #01416d;
	color: #ffffff;
	text-align: center;
	left: 0;
	top: 0;
	/* bottom: 0; */
	margin: auto 0;
	transition: .3s;
}
.history-list .year:after{
	content: '';
	display: block;
	position: absolute;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-left: 20px solid #01416d;
	left: 100%;
	top: 0;
	transition: .3s;
}
.history-list>ul>li:hover>.year{
	background-color: #e97512;
}
.history-list>ul>li:hover>.year:after{
	border-left-color: #e97512;
}
@media screen and (max-width:768px){
	.history-list>ul>li{
		padding: 5px 0 5px 80px;
		margin-bottom: 10px;
	}
	.history-list>ul>li>.year{
		width: 60px;
	}
	.history-list .year:after{
		border-left: 15px solid #01416d;
	}
}
.news-list{
	margin-bottom: 40px;
}
.news-list>ul{
	width: 100%;
	display: block;
	position: relative;
	padding: 0;
	margin: 0;
	list-style: none;	
}
.news-list>ul>li{
	width: 100%;
	display: block;
	position: relative;
}
.news-list>ul>li+li{
	border-top: 1px solid #dddddd;
}
.news-list>ul>li>a{
	width: 100%;
	display: block;
	position: relative;
	padding: 10px 0;
	transition: .3s .03s;
}
.news-list>ul>li>a:focus,
.news-list>ul>li>a:hover{
	color: #000000;
}
.news-list>ul>li>a>.date{
	color: #01416d;
	transition: .3s .03s;
}
.news-list>ul>li>a:focus>.date,
.news-list>ul>li>a:hover>.date{
	color: #e97512;
}
.news-list>ul>li>a>.date:after{
	content: ' │';
}
@media screen and (max-width:992px){
	.news-list>ul>li>a>.date{
		display: block;
	}
	.news-list>ul>li>a>.date:after{
		display: none;
	}
}
.news-title{
	width: 100%;
	display: block;
	position: relative;
	margin-bottom: 30px;
}
.news-title h4{
	font-size: 1.45rem;
	font-weight: normal;
	border-bottom: 1px solid #dddddd;
	padding-bottom: 8px;
	margin-bottom: 5px;
}
.news-title .date{
	color: #01416d;
}
.news-title a{
	color: #01416d;
	float: right;
	display: inline-block;
	transition: .3s .03s;
}
.news-title a:focus,
.news-title a:hover{
	padding-right: 10px;
	color: #e97512;
}

















/* contact================================================== */
.contact-btn{
	width: 100px;
	border: 2px solid #01416d;
	color: #01416d;
	background-color: #ffffff;
	padding: 5px;
	font-size: 1.1rem;
	font-weight: bold;
	transition: .3s .03s;
}
.contact-btn:focus,
.contact-btn:hover{
	/* background-color: #01416d;
	color: #ffffff; */
	border-color: #e97512;
	color: #e97512;
}

.company-item{
	width: 100%;
	display: block;
	position: relative;
	margin: 0 0 30px 0;
}
.company-item .location{
	color: #e97512;
}
.company-item .title{
	font-size: 1.5rem;
	font-weight: normal;
}
.company-item .info{
	width: 100%;
	display: block;
	position: relative;
	margin: 0;
	padding: 0;
	list-style: none;
}
.company-item .info>li{
	width: 100%;
	display: block;
	position: relative;
	padding: 0 0 0 32px;
}
.company-item .info>li>i{
	position: absolute;
	left: 0;
	top: 6px;
}
.company-item .info>li>i:after{
	content: '：';
}
.company-item .map{
	width: 100%;
	display: block;
	position: relative;
	margin: 10px 0;
}
.company-item .map>iframe{
	width: 100%;
	height: 200px;
	display: block;
	border: 0;
	position: relative;
}













/* advantage========================================== */
.advantage-block{
	width: 100%;
	display: block;
	position: relative;
	margin-bottom: 30px;
}
.advantage-collapse-title{
	width: 100%;
	display: block;
	position: relative;
	border-bottom: 1px solid #52c4ea;
	font-size: 18px;
	font-weight: bold;
	transition: .3s .03s;
	margin: 10px 0;
}
.advantage-collapse-title:hover{
	color: #e97512;
}
.advantage-collapse-title>span{
	width: 100%;
	display: block;
	position: relative;
	margin: 0;
	padding: 3px 3px 3px 30px;
}
.advantage-collapse-title>span:before{
	content: '';
	width: 20px;
	height: 4px;
	background-color: #52c4ea;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto 0;
}
.advantage-collapse-title>span:after{
	content: '';
	width: 20px;
	height: 4px;
	background-color: #52c4ea;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	margin: auto 0;
	transform: rotateZ(90deg);
	transition: .3s;
}
.advantage-collapse-title[aria-expanded="true"]>span:after{
	transform: rotateZ(0deg);
}

.advantage-block .card .card-header>a{
	display: block;
	transition: .3s .03s;
}
.advantage-block .card .card-header>a:hover{
	color: #e97512;	
}












/* cookie-announce=============================================== */
.cookie-announce{
	width: 100%;
	padding: 20px 0;
	display: block;
	position: fixed;
	z-index: 10;
	background-color: rgba( 0, 0, 0, .8);
	bottom: 0;
	left: 0;
	color: #ffffff;
	transition: .5s .1s;
}
.cookie-announce.move{
	bottom: -1000px;
}
.cookie-announce>div{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.cookie-announce .cookie-close{
	min-width: 80px;
	height: 40px;
	background-color: #01416d;
	color: #ffffff;
	/* margin-left: auto; */
	margin-left: 30px;
	display: block;
}
.cookie-announce .cookie-close:focus,
.cookie-announce .cookie-close:hover{
	background-color: #e97512;
	color: #ffffff;
}
.cookie-announce a{
	color: inherit;
}
.cookie-announce a[aria-expanded="true"],
.cookie-announce a:hover{
	color: #e97512;
}
.cookie-announce .collapseCookie{
	max-height: 50vh;
	overflow-y: auto;
	-ms-overflow-style: none;
	overflow: -moz-scrollbars-none;
	/* color: #000000; */
	/* margin-right: 30px; */
	padding: 20px;
	border: 1px solid #666666;
	border-radius: .3rem;
	font-size: 11px;
	line-height: 1.2rem;
}
.cookie-announce .collapseCookie::-webkit-scrollbar {
	width: 0 !important;
  display: none;
}

@media screen and (max-width:768px){


}








@media screen and (max-width:990px){


}
@media screen and (max-width:768px){


}
@media screen and (max-width:380px){



}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}